// Basics Custom Styles

// Navbar Styles Override
.navbar {
    .navbar-nav {
        .nav-item {
            text-align: center;

            .nav-link{
                align-self: center;
                font-size: large;
                font-weight: 900;
                color: $light;

                &:active {
                    background-color: $danger;
                    color: white;
                }
            }
        }
    }
}

